<!DOCTYPE html>
<html>
  <head>
    <title>Dariler</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <div class="navbar-item">
        <% if @city %>
          <%= link_to t("cities.#{@city}"), cities_path, class: "button is-primary" %>
        <% end %>
      </div>

      <a role="button" id="navbar-menu-burger" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" id="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          💊 <%= t(".topbar.drugs") %>
        </a>

        <a class="navbar-item">
          🏥 <%= t(".topbar.drugstores") %>
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Еще
          </a>

          <div class="navbar-dropdown">
            <%= link_to t(".topbar.add_drug"), new_drug_path, class: "navbar-item" %>

            <a class="navbar-item">
              <%= link_to t(".topbar.add_drugstore"), new_drugstore_path, class: "navbar-item" %>
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              О проекте
            </a>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">

        </div>
      </div>
    </div>
  </nav>
    <% if flash[:error] %>
      <div class="container">
        <div class="notification is-danger">
          <p>
            <%= flash[:error] %>
          </p>
        </div>
      </div>
    <% end %>
      <% if flash[:success] %>
      <div class="container">
        <div class="notification is-success">
          <p>
            <%= flash[:success] %>
          </p>
        </div>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
